@model Hospital_Management_System.Models.Schedule

@{
    ViewData["Title"] = "Create";
}
<div class="card  bg-danger mb-3 text-white-50" style="max-width: 18rem;">

    <h1>Create</h1>
</div>

    <h4>Schedule</h4>
    <hr />
    <div class="row bg-secondary">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DoctorId" class="control-label"></label>
                    <select asp-for="DoctorId" class="form-control" asp-items="ViewBag.DoctorId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="AvailableStartDay" class="control-label"></label>
                    <input asp-for="AvailableStartDay" class="form-control" />
                    <span asp-validation-for="AvailableStartDay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AvailableEndDay" class="control-label"></label>
                    <input asp-for="AvailableEndDay" class="form-control" />
                    <span asp-validation-for="AvailableEndDay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AvailableStartTime" class="control-label"></label>
                    <input asp-for="AvailableStartTime" class="form-control" />
                    <span asp-validation-for="AvailableStartTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AvailableEndTime" class="control-label"></label>
                    <input asp-for="AvailableEndTime" class="form-control" />
                    <span asp-validation-for="AvailableEndTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TimePerPatient" class="control-label"></label>
                    <input asp-for="TimePerPatient" class="form-control" />
                    <span asp-validation-for="TimePerPatient" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
