@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">

@using Hospital.Models
@{ ViewBag.Title = "Home Page"; }

<header id="Home">

    <div class="hero-text-box">
        <h1 style="color:green">Neha  Hospital</h1>
        <br>
       
    </div>
</header>

<section class="section-features js-section-features  table table-striped " id="services">
    <div class="card bg-primary">
        <h2>Services</h2><br />
        <p class="long-copy bg-info">Hello, this is Hospital Management System. We have best services for our patients and manage them.</p>
    </div>
    <div class="card js-wp-1 border border-primary bg-light">
        <div class="col span-1-of-4 box for-icons">
            <i class="icon ion-md-medkit"></i>
            <h3>Emergency Care</h3>
            <p>Never cook again! We really mean that. Our subscription plans include up to 365 days/year coverage. You can also choose to order more flexibly if that's your style.</p>
        </div>
        <div class="col span-1-of-4 box for-icons">
            <i class="icon ion-md-call"></i>
            <h3>Call Center 24/7</h3>
            <p>You're only twenty minutes away from your delicious and super healthy meals delivered right to your home. We work with the best chefs in each town to ensure that you're 100% happy.</p>
        </div>
        <div class="col span-1-of-4 box for-icons">
            <i class="icon ion-md-car"></i>
            <h3>Ambulance</h3>
            <p>All our vegetables are fresh, organic and local. Animals are raised without added hormones or antibiotics. Good for your health, the environment, and it also tastes better!</p>
        </div>
        <div class="col span-1-of-4 box for-icons">
            <i class="icon ion-md-checkmark-circle-outline"></i>
            <h3>Appointment</h3>
            <p>We don't limit your creativity, which means you can order whatever you feel like. You can also choose from our menu containing over 100 delicious meals. It's up to you!</p>
        </div>
    </div>
</section>

<section class="section-steps" id="about">
    <div class="card bg-info ">
        <h2>About Us &mdash; Our Vision</h2>
    </div>
    
        <div class="col span-1-of-2 card bg-success ">
            <div class="card-body">
                <div>1</div>
                <p>Hopital Management System (HMS) is open to all patients every day and provides fundamental medical care and cutting-edge medicine.</p>
            </div>
            <div class="card-body">
                <div>2</div>
                <p>We use our academic knowledge to treat a wide range of health issues, taking a personal touch and utilizing highly specialized and up-to-date research.</p>
            </div>
            <div class="card-body">
                <div>3</div>
                <p>
                    We will innovate and define the future of health care for generations
                    and will be the consumer's first choice for health care.
                </p>
            </div>
        </div>
    </div>
</section>


<footer>
    

</footer>

